<div class="container center">
  <div class="row">
    <p>Live Streaming...</p>
  </div>
  <div class="row">
    <canvas id="canvas-video" width="640" height="480"></canvas>
  </div>
</div>
<script>
  var socket = io.connect('http://localhost');
  var canvas = document.getElementById('canvas-video');
  var context = canvas.getContext('2d');
  var img = new Image();
  context.fillStyle = '#333';
  context.fillText('Loading...', canvas.width / 2 - 30, canvas.height / 3);
  socket.on('recognizePhotoBoothFrame', function(data) {
    function arrayBufferToBase64(buffer) {
      var binary = '';
      var bytes = new Uint8Array(buffer);
      var len = bytes.byteLength;
      for (var i = 0; i < len; i++) {
        binary += String.fromCharCode(bytes[i]);
      }
      return window.btoa(binary);
    }
    var str = arrayBufferToBase64(data.buffer);
    var base64String = str;
    img.onload = function() {
      context.drawImage(this, 0, 0, canvas.width, canvas.height);
    };
    img.src = 'data:image/png;base64,' + base64String;
  });
</script>
